@page
@model ServersModel
@{
    ViewData["Title"] = "Servers";

}


@if (Model.Servers != null)
{
    @foreach (SsmServer s in Model.Servers)
    {
        <div class="card" style="width:18rem;margin-bottom:2rem">
            <div class="card-header">
                <h2 class="card-title">@s.HostName</h2>
            </div>
            <div class="card-body">
                <p>@s.IPv4</p>
                <p>@s.IPv6</p>
                <p>@s.Region!.ShortName</p>
                <p>@s.Usage!.ShortName</p>
                <div class="btn btn-info">
                    <a asp-page="./Details" asp-route-id="@s.Id" asp-page-handler="get">
                    See Details</a>
                    </div>
            </div>
            <div class="card-footer">
                
                <p>Foss Analytical A/S</p>
            </div>
        </div>
    }
} 
else
{
    <h2>Nothing to display here...</h2>
}